<?xml version="1.0"?>
<launch>
    <include file="$(find my_rb1_description)/launch/my_rb1_model.launch"/>

	<!-- roslaunch arguments --> 
	<arg name="debug" default="false"/>
	<arg name="world_name" default="$(find rb1_base_gazebo)/worlds/ros2_online_workshop.world"/>

	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_name)"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="verbose" value="true"/>
	</include>

    <arg name="rb1_x" default="-0.4"/>
    <arg name="rb1_y" default="-1.4"/>
    <arg name="rb1_z" default="0"/>

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model my_robot -x $(arg rb1_x) -y $(arg rb1_y) -z $(arg rb1_z)" />
	
</launch>
